@use '../variables.scss' as *;
@use '../bem.mixin.scss' as bem;

$block: 'button';
$colors: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  info: $color-info
);

@include bem.bem-block($block) {
  border-color: transparent;
}

@each $name, $value in $colors {
  @include bem.bem-modifier($block, $name) {
    background-color: $value;
    color: $color-white;
    padding: 10px 20px;
  }
}

@include bem.when(round) {
  border-radius: 1.5em;
}
